{{ define "main" }}
    <div class="container">
      <h1 class="text-center" style="padding-top:
      50px;">Meet the Committee</h1>
      <hr width="50%">
      
      <div class="row justify-content-center align-items-center">
        {{ range .Pages.ByDate.Reverse }}
          <div role="dialog" tabindex="-1" class="modal fade" id="{{.Params.short}}" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document" >
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="myLargeModalLabel">{{.Title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>{{.Content}}</p>
                    </div>
                    <div class="modal-footer">
                      {{if isset .Params "twitter"}}
                        <a href="https://twitter.com/{{.Params.twitter}}" title="Twitter" target="_blank"> <i
                          class="fab fa-twitter"
                          data-toggle="tooltip" data-placement="top"
                          title="Twitter" style="color: grey;margin-left: 10px;margin-right: 10px;"></i></a>
                      {{end}}
                      {{if isset .Params "insta"}}
                        <a href="https://instagram.com/{{.Params.insta}}" title="Insta" target="_blank"> <i
                          class="fab fa-instagram"
                          data-toggle="tooltip" data-placement="top"
                          title="Instagram" style="color: grey;margin-left: 10px;margin-right: 10px;"></i></a>
                      {{end}}
                      {{if isset .Params "facebook"}}
                        <a href="https://facebook.com/{{.Params.facebook}}" title="Facebook" target="_blank"> <i
                          class="fab fa-facebook"
                          data-toggle="tooltip" data-placement="top"
                          title="Facebook" style="color: grey;margin-left: 10px;margin-right: 10px;"></i></a>
                      {{end}}
                      {{if isset .Params "site"}}
                        <a href="{{.Params.site}}" title="Website" target="_blank"> <i
                          class="fas fa-link"
                          data-toggle="tooltip" data-placement="top"
                          title="Website" style="color: grey;margin-left: 10px;margin-right: 10px;"></i></a>
                      {{end}}
                      <button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
          </div>
          
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" style="padding-top:30px;">
            <a class="text-muted" href="#{{.Params.short}}" data-toggle="modal">
              <div class="card text-center">
                <img class="card-img-top" src="{{.Params.image}}-/scale_crop/750x500/smart/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ .Title }}</h5>
                  <p class="card-text" style="color: grey;">{{.Params.position}}</p>
                </div>

              </div>
            </a>
          </div>
          
        {{ end }}
      </div>
    </div>
{{ end }}