{{ define "main" }}
    <div class="container">
      <h1 class="text-center" style="padding-top:
      20px;">Committee</h1>
      <hr width="50%">
      
      <div class="row justify-content-center">
        {{ range .Pages.ByDate }}
          <div role="dialog" tabindex="-1" class="modal fade" id="{{.Params.short}}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>{{.Params.bio}}</p>
                    </div>
                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-4" style="padding-top: 15px;">
            <a class="text-muted" href="#{{.Params.short}}" data-toggle="modal">
              <div class="card text-center" style="width: 18rem;">
                <img class="card-img-top" src="{{.Params.image}}-/scale_crop/750x500/smart/" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ .Params.name }}</h5>
                  <p class="card-text" style="color: grey;">{{.Params.position}}</p>
                </div>

              </div>
            </a>
          </div>
          
        {{ end }}
      </div>
    </div>
{{ end }}