<footer class="footer mt-5">
    <div class="text-center">
        <div>
            {{ range .Site.Menus.bot }}
                <a href="{{ .URL}}" title="{{.Title}}" target="_blank"> <i
                class="{{.Pre}} foot-link"
                data-toggle="tooltip" data-placement="top"
                title="{{.Name}}"></i></a>
            {{ end }}
        </div>
        <div>
            {{ now.Format "2006" }} &#169 {{ .Site.Title }} | 
            <a href="https://github.com/jack-alope/du-classical-site" target="_blank">Site Repo</a> |
            <a href="/admin" target="_blank">Admin Login</a>
        </div>
        
    </div>
    <style>
        .footer {
            font-size: 10pt;
            color: grey;
            padding-bottom: 30px;
        }
        .footer a {
            color: grey;
        }
        .foot-link {
            font-size: 15pt;
            padding: 1%;
        }
    </style>
</footer>