{{ define "main" }}
    <div class="container">
    {{ $year := 1}}  
    {{ $upcomingyet := true }}
    {{ range .Pages.ByDate.Reverse }}
     
      {{ if .Params.upcoming }}
        {{ if $upcomingyet }}
          <hr>
          <h4>Upcoming</h4>
          {{ $upcomingyet = false }}
        {{ end }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>

      {{ else }}
        {{ $eventYear := .Date.Format "2006" }}
        {{ if ne $year $eventYear }}
          <hr>
          <h4>{{ $eventYear }}</h4>
          {{ $year = $eventYear }}
        {{ end }}
        <p><a href="{{ .Permalink }}">{{ .Title }}</a></p>
      {{ end }}
    {{ end }}
      
    </div>
{{ end }}