{{ define "main" }}
    <div class="container">
      {{ $year := 1}}  
      {{ $upcomingyet := true }}
      <div class="row">
        {{ range .Pages.ByDate.Reverse }}
          <div role="dialog" tabindex="-1" class="modal fade" id="{{.Params.slug}}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"
                      id="exampleModalLongTitle">{{.Title}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                    <div class="modal-body">
                        <p>{{.Content}}</p>
                    </div>
                    <div class="modal-footer">
                      {{ if .Params.repeating }}
                        <p><strong>Date:</strong> Weekly on
                        {{dateFormat "Mondays 15:04" .Params.date}}</p>
                      {{else}}
                        <p><strong>Date:</strong> {{dateFormat "Mon, 02 Jan 2006 15:04" .Params.date}}</p>
                      {{ end }}
                      <p><strong>Location:</strong> {{.Params.location}}</p>
                      <button class="btn btn-light" type="button" data-dismiss="modal">Close</button></div>
                </div>
            </div>
          </div>
          {{ if .Params.upcoming }}
            {{ if $upcomingyet }}
              <div class="col-lg-12" style="margin-top: 30px;">
                <hr>
                <h4>Upcoming</h4>
              </div>
              {{ $upcomingyet = false }}
            {{ end }}
            <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top: 10px;margin-bottom: 10px;">
                <a class="text-muted" href="#{{.Params.slug}}"
                data-toggle="modal">
                    <img class="card-img-top shadow" src="{{.Params.image}}-/scale_crop/1000x1000/smart/"
                    alt="DU Classical">
                </a>
            </div>
          {{ else }}
            {{ $eventYear := .Date.Format "2006" }}
            {{ if ne $year $eventYear }}
              <div class="col-lg-12" style="margin-top: 20px;">
                <hr>
                <h4>{{ $eventYear }}</h4>
              </div>
              {{ $year = $eventYear }}
            {{ end }}
            <div class="col-sm-6 col-md-4 col-lg-3" style="margin-top: 10px;margin-bottom: 10px;">
              <a class="text-muted" href="#{{.Params.slug}}"
              data-toggle="modal">
                  <img class="card-img-top shadow" src="{{.Params.image}}-/scale_crop/1000x1000/smart/"
                  alt="DU Classical">
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
      
    </div>
{{ end }}