{{ define "main" }}
    <div class="container">
      <h1 class="text-center" style="padding-top:
      50px;">Get In Touch</h1>
      <hr width="50%">
      {{ range .Pages}}
        {{ .Content}}
      {{ end}}
      <div class="row justify-content-center align-items-center"i style="margin-top: 50px;">
        <div class="col" style="text-align: right;">
          <a role="button" class="btn
                    btn-dark"style="margin-left: 10px;"
                    href="https://trinitysocietieshub.com/collections/society-memberships" target="_blank">Sign Up</a>
        </div>
        <div class="col" style="text-align: left;">
          <a role="button" class="btn
                    btn-outline-dark"style="margin-left: 10px;"
                    href="mailto:classical@csc.tcd.ie" target="_blank">Email</a>
        </div>

      </div>
    </div>
{{ end }}